<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
		<add name ="Patients" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\User\source\repos\Tyuiu.MezentsevSE.Sprint7\Tyuiu.MezentsevSE.Project.V6\Patients.mdf;Integrated Security=True" />
    </connectionStrings>
</configuration>